{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "cwput build resources",
    "Resources": {
        "BuildUser": {
            "Type": "AWS::IAM::User",
            "Properties": {
                "Policies": [
                    {
                        "PolicyName": "build",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:PutObject",
                                        "s3:PutObjectACL"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        "arn:aws:s3:::mapbox-npm/package/cwput-*"
                                    ]
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "BuildUserKey": {
            "Type": "AWS::IAM::AccessKey",
            "Properties": {
                "UserName": {
                    "Ref": "BuildUser"
                }
            }
        }
    },
    "Outputs": {
        "AccessKeyId": {
            "Value": {
                "Ref": "BuildUserKey"
            }
        },
        "SecretAccessKey": {
            "Value": {
                "Fn::GetAtt": [ 
                    "BuildUserKey",
                    "SecretAccessKey"
                ]
            }
        }
    }
}
