<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.mapbox.cwput</string>
        <key>Program</key>
        <string>/usr/local/bin/cwput.start</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/tmp/cwput.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/cwput.out</string>
    </dict>
</plist>
